* {
    margin: 0%;
    padding: 0%;
}
p, li{
    font-size: large;
    color: white;
}
li{
    margin: 10px;
}
body {
    background-color: #ff0095;
}
.header {
    background-color: #e60000;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    display: block;
    text-align: center;
    justify-self: center;
    border-radius: 20px;
}
.image{
    justify-self: center;
    border: solid;
    border-radius: 20px;
    border-style: dotted;
    border-width: 3px;
    border-color: #8a007e;
}
.intro{
    padding: 10px;
    margin: 10px;
}
.education{
    padding: 10px;
    margin: 10px;
}
.experience{
    padding: 10px;
    margin: 10px;
}
.skills{
    padding: 10px;
    margin: 10px;
}
.links{
    padding: 10px;
    margin: 10px;
    margin-bottom: 50px;
}
.link{
    display: block;
}
#contact {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ce2286;
    padding: 10px;
    border-radius: 10px;
}
a{
    color: white;
}